# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: |
        go build -v ./main.go
        
        
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        mkdir ../build
        cp -TR . ../build 
        tar -cvf deploy.tar ../build/
        pwd
    

    - name: Copy via ssh
      # You may pin to the exact commit or the version.
      # uses: garygrossgarten/github-action-scp@dba89d858413133b6e35da91a3c989cc8cde3ad4
      uses: garygrossgarten/github-action-scp@v0.7.3
      with:
        # Path to the local folder you want to copy.
        local: deploy.tar
        # Path on the remote server to copy to.
        remote: /C:/deploy/developers/jinjootest
        host: ${{ secrets.DEVELOPERS }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.DEVELOPERS_PASSWORD }}
