# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: |
        go build -v ./main.go
        ls -al
        
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        mkdir ../build
        cp -TR . ../build
        tar -cvf deploy.tar ../build/
    
    - name: Send file to FileDown
      uses: appleboy/scp-action@v0.1.3
      with: 
        host: ${{ secrets.FILEDOWN }}
        username: ${{ secrets.LINUX_USERNAME }}
        key: ${{ secrets.FILEDOWN_KEY }}
        port: 22
        source: "deploy.tar"
        target: "destination/folder"
        debug: true
      
