# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: |
        go build -v ./main.go
        ls -al
        
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        mkdir ../build
        cp -TR . ../build 
        tar -cvf deploy.tar ../build/

    - name: File deployments
      uses: 49nord/action-files@v1
      with:
        # The local path that should be uploaded. Should end with a slash.
        src: ../build/
        # The remote location to sync to, e.g. `user@host:/path/to/dest/`. Should end with a slash.
        dest: ${{ secrets.USERNAME }}@${{ secrets.DEVELOPERS }}:/C:/deploy/developers/jinjootest
        # SSH private key to add before attempting any transfer.
        ssh_key: ${{ secrets.DEVELOPERS_KEY }}
        # SSH known hosts file.
        known_hosts: "deploy.tar"
 
