# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: |
        go build -v ./main.go
        pwd
    
    - name: Copy via ssh
      uses: garygrossgarten/github-action-scp@release
      with:
        local: main.exe
        remote: jinjootest/main.exe
        host: ${{ secrets.DEVELOPERS }}
        username: ${{ secrets.USERNAME }}
        privateKey: ${{ secrets.DEVELOPERS_KEY }}


    - name: executing remote ssh commands using key
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DEVELOPERS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.DEVELOPERS_KEY }}
        port: 22
        script_stop: true
        script: |
          set CUR_YYYY=%date:~10,4%
          set CUR_MM=%date:~4,2%
          set CUR_DD=%date:~7,2%
          set CUR_HH=%time:~0,2%
          if %CUR_HH% lss 10 (set CUR_HH=0%time:~1,1%)
          set CUR_NN=%time:~3,2%
          set CUR_SS=%time:~6,2%
          set CUR_MS=%time:~9,2%
          set SUBFILENAME=%CUR_YYYY%%CUR_MM%%CUR_DD%%CUR_HH%%CUR_NN%
          mkdir C:\deploy\developers\backup\%SUBFILENAME%
          copy C:\deploy\developers\main.exe C:\deploy\developers\backup\%SUBFILENAME%
          
